
<template name = "appBody">

	<div class = "row">
		<div class = "col-md-8">
			<div class="list-group">
				<div class="list-group-item active">
					<div class = "row">
						<div class = "col-md-6">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/125x125">
							</a>
						</div>
						<div class = "col-md-6">
							<a href="#" class="thumbnail">
								<img src="http://placehold.it/125x125">
							</a>
						</div>
					<div class = "row">
					<div class = "col-md-6">
					<p> Team 1</p>
					</div>
					<div class = "col-md-6">
					<p> Team 2</p>
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</template>